<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <h1>Upload an Image</h1>
    
    <form method="POST" enctype="multipart/form-data" action="/">
        <div>
            <label for="file">Choose file to upload</label>
            <input type="file" id="file" name="form_file" accept="image/jpeg">
        </div>
        <div>
            <button type="submit">Upload</button> 
        </div>
    </form>

    <h2>Uploaded Images</h2>
    <h3>Click on the image to get an ai generated title and description!</h3>
<ul>
    {% for file in files %}
        {% if not file.endswith('.json') %} 
            <li>
                <div class="image-container">
                    <a href="{{ url_for('image_details', filename=file) }}">
                        <img src="{{ url_for('get_file', filename=file) }}" alt="Preview of {{ file }}" style="max-width: 300px; max-height: 300px;">
                    </a>
                    <a href="{{ url_for('get_file', filename=file) }}" target="_blank">{{ url_for('get_file', filename=file) }}</a>
                </div>
            </li>
        {% endif %}
    {% endfor %}
    
</ul>
</body>
</html>




